## <%= options[:name] %>

### Overview

FIXME: High level description of test and notable exceptions

### Verified Supported Platforms

FIXME: Platform(s) tested and verified to work with this test

### Test Details

FIXME: Detailed description of checks performed by this test

### Test Requirements

FIXME: Any requirements that the test target or Norad Org/Machine must meet for this test to run

### Test Configuration Options

Argument        | Default Value | Description
--------------- | ------------- | -----------
FIXME           | FIXME         | FIXME

**TEST TYPE** Informational / Evaluative (Pass/Fail)

<% if options[:authenticated] %>
**Requires Authentication on Target:** Yes
<% else %>
**Requires Authentication on Target:** No
<% end %>

**Reconfigures the Target:** Yes/No

FXME: If any, changes Made During Test Execution

### Known Issues / False Positive conditions

FIXME: What can make the test produce incorrect results

